# Created by https://www.gitignore.io

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# custom-set-* config
custom.el

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# anaconda-mode
/anaconda-mode/

# irony-mode
/irony/

# other
/history
/package-list.txt
/session.*
/abbrev_defs
/image-dired/
/semanticdb/
/fontconfig
